{% extends "swift_realtys/base.html" %}
​
{% block header %}
  <div class='jumbotron'>
    <h1>What is Swift Realty?</h1>
  </div>
{% endblock header %}
​
{% block content %}
  <p align="justify">
    Swift Realty is a dual purpose app, designed to benefit both homebuyer and realtor. This is a simplified
    app, limiting drop-down menus and eliminating the complexities and advertisements found on other homebuying 
    sites. Whether you are a first time homebuyer or buying a second home, this app is equipped with all the tools
    necessary for purchasing a home.
  </p>
  <p align="justify">
    As a homebuyer, create an account, enter a zipcode and desired home amenities, hit search, then
    sit back and view the homes that best matched your desires. This website provides the homebuyer with a resources
    page full of information designed to help them in their journey to buy a new home. A calculator for estimating 
    monthly mortgage payments is also provided on the resources page. With an account, the homebuyer has the option
    to save a list of favorite homes for future reference. In person home viewings can be set up with any of the 
    listed realtors on the Realtors page via the direct message feature in the app or through email. Once a home 
    has been chosen for purchase, the realtor can assist the homebuyer through that process.
  </p>
  <p align="justify">
    This app gives the realtor a place to connect with potential homebuyers. The direct messaging feature allows 
    the homebuyer to reach out to the realtor of their choice and enables the realtor to stay in touch with the 
    homebuyer while searching for a home. The listing page provides the realtor with a place to have an up-to-date
    list of homes for sale. Swift Realty gives the realtor all the tools they need to meet a homebuyer and sell 
    them their dream home.
  </p>
  <p align="justify">
    Buying a home can be both joyful and stressful. Swift Realty is a simple homebuying app designed to help eliminate
    the stress yet keep the joy.
  </p>
  <div class="mx-auto">
    <img src="https://i.pinimg.com/564x/b2/63/91/b26391cc9fc2500dcdd746a1e15556a8.jpg" class="img-responsive" style="margin: 0 auto;" alt="Responsive image">
  </div>
{% endblock content %}