{% extends "swift_realtys/base.html" %}

{% block header %}
  <h1>Favorite Homes</h1>
{% endblock header %}

{% block content %}
    <div class="card-deck">
      {% for listing in listings %}
        {% if listing.favorite == True %}
        <div class="col-sm-4">
            <div class="card mt-5">
              <img class="card-img-top" src="..." alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">{{ listing.address }}</h5>
                <p class="card-text">{{ listing.description }}</p>
              </div>
              <div class="card-footer">
                <a href="{% url 'swift_realtys:listing' listing.id %}">Details</a>
              </div>
            </div>
            </div>
        {% endif %}
      {% endfor %}
    </div>

  {% endblock content %}