{% extends "swift_realtys/base.html" %}
{% load static %}

{% block header %}
  <h1>Listings</h1>
  <small><a href="{% url 'swift_realtys:new_listing' %}">Add a new listing</a></small>
{% endblock header %}

{% block content %}

<h1>{{ listing.photo.path }}</h1>
  <div class="card-deck">
    {% for listing in listings %}
    <div class="col-sm-4">
    <div class="card mt-5">
      <img src="{{ listing.photo }}" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">{{ listing.address }}</h5>
        <p class="card-text">{{ listing.description }}</p>
      </div>
      <div class="card-footer">
        <a href="{% url 'swift_realtys:listing' listing.id %}">Details</a>
      </div>
    </div>
    </div>
    {% empty %}
    <h2>No listings have been added yet.</h2>
    {% endfor %}
  </div>

  {% endblock content %}