{% extends "swift_realtys/base.html" %}

{% block header %}
  <h1>Listings</h1>
  <h3><a href="{% url 'swift_realtys:new_listing' %}">Add a new listing</a></h3>
{% endblock header %}

{% block content %}

  <div class="card-deck">
    {% for listing in listings %}
    <div class="col-sm-4">
    <div class="card mt-5">
      {% if listing not in user.favorite.all %}
      <div class="d-flex justify-content-end align-items-start">
        <a href="#" class="btn btn-info btn-sm">
          <span class="glyphicon glyphicon-heart-empty"></span> Add to Favorites
        </a><br><br>
      </div>
      {% else %}
      <div class="d-flex justify-content-end align-items-start">
      <a href="#" class="btn btn-info btn-sm">
          <span class="glyphicon glyphicon-remove"></span> Remove Favorite
        </a><br><br>
        </div>
      {% endif %}
      {% if listing.photo.url == True %}
      <img class="card-img-top" src="{{ listing.photo.url }}" alt="Card image cap">
      else:
      <img class="card-img-top" src="#" alt="Card image cap">
      {% endif %}
      <div class="card-body">
        <h5 class="card-title">{{ listing.address }}</h5>
        <p class="card-text">{{ listing.description }}</p>
      </div>
      <div class="card-footer">
        <a href="{% url 'swift_realtys:listing' listing.id %}">Details</a>
      </div>
    </div>
    </div>

    {% empty %}
    <h2>No listings have been added yet.</h2>
    {% endfor %}
  </div>

  {% endblock content %}
