{% extends "swift_realtys/base.html" %}

{% load bootstrap4 %}

{% block header %}
  <h2>{{ listing.address }}</h2>
{% endblock header %}

{% block content %}

<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="{{ listing.get_photo_url }}" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{ listing.address }}</h5>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item"><p class="card-text">Bedrooms: {{ listing.num_bedrooms }}</p></li>
    <li class="list-group-item"><p class="card-text">Bathrooms: {{ listing.num_bathrooms }}</p></li>
    <li class="list-group-item"><p class="card-text">{{ listing.description }}</p></li>
  </ul>
  <div class="card-body">

  </div>
</div>

<div class="card-header">
  <h3>
    {{ entry.date_added|date:'M d, Y H:i' }}
    <small>
       <a href="{% url 'swift_realtys:edit_listing' listing.id %}">edit listing</a>
    </small>
  </h3>
</div>


{% endblock content %}
